<!--@subject Your reward points will be expired soon @-->
<p>Dear {{var customer_name}},</p>

<p>Your <strong>{{var transaction_amount}} reward points</strong> will be expired on {{var transaction_time}}. It's a good opportunity to get back to our store and buy something you've always wanted to but didn't have enough money.</p>

<p>Please <a href="{{var customer_link}}">login to your account</a> to check your balance and review the transaction history.<br>
If you have any questions about your transaction, please feel free to contact us at <a href="mailto:{{var email_contact}}">{{var email_contact}}</a> or by phone at {{var phone_contact}}.</p>                                            

<p>This message was sent by the Reward Points system - {{var store_name}}.</p>
