<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Aheadworks_SocialLogin::account" title="Social Login by aheadWorks" module="Aheadworks_SocialLogin" sortOrder="50"
             parent="Magento_Customer::customer" resource="Aheadworks_SocialLogin::account"/>
        <add id="Aheadworks_SocialLogin::account_list" title="Social Accounts" module="Aheadworks_SocialLogin" sortOrder="10"
             parent="Aheadworks_SocialLogin::account" action="social/account" resource="Aheadworks_SocialLogin::account_list"/>
    </menu>
</config>
