<?xml version="1.0"?>
<!--
/**
* Copyright 2016 aheadWorks. All rights reserved.
* See LICENSE.txt for license details.
*/
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Customer::customer">
                    <resource id="Aheadworks_Helpdesk::home" title="Help Desk Ultimate by aheadWorks" translate="title" sortOrder="50">
                        <resource id="Aheadworks_Helpdesk::tickets" title="Tickets" translate="title" sortOrder="10" />
                        <resource id="Aheadworks_Helpdesk::automation" title="Automations" translate="title" sortOrder="20" />
                        <resource id="Aheadworks_Helpdesk::departments" title="Departments" translate="title" sortOrder="30" />
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Aheadworks_Helpdesk::config_aw_helpdesk" title="Help Desk Ultimate by aheadWorks" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
