<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="iwd_salesrep" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Sales Representative</label>
            <tab>iwd</tab>
            <resource>IWD_SalesRep::system_config</resource>

            <group id="permissions" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Permissions</label>
                <field id="show_assigned" translate="label" type="select" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="1">
                    <label>Show only orders of assigned customers</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>