<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <social>
            <general>
                <enabled>0</enabled>
            </general>
            <login_block>
                <default_is_visible>0</default_is_visible>
                <default_template>default</default_template>
                <default_groups>
                    <login>Login</login>
                    <register>Register</register>
                    <cart>Cart</cart>
                    <checkout>Checkout</checkout>
                </default_groups>
            </login_block>
            <twitter>
                <enabled>0</enabled>
                <title>Twitter</title>
            </twitter>
            <facebook>
                <enabled>0</enabled>
                <title>Facebook</title>
            </facebook>
            <google>
                <enabled>0</enabled>
                <title>Google</title>
            </google>
            <linkedin>
                <enabled>0</enabled>
                <title>LinkedIn</title>
            </linkedin>
            <instagram>
                <enabled>0</enabled>
                <title>Instagram</title>
            </instagram>
            <pinterest>
                <enabled>0</enabled>
                <title>Pinterest</title>
            </pinterest>
            <vk>
                <enabled>0</enabled>
                <title>Vk</title>
            </vk>
            <odnoklassniki>
                <enabled>0</enabled>
                <title>Odnoklassniki</title>
            </odnoklassniki>
            <paypal>
                <enabled>0</enabled>
                <title>Paypal</title>
            </paypal>
        </social>
    </default>
</config>
