.aw-helpdesk-file-upload__container {
    float: left;
    width: 50%;
}
.aw-helpdesk-file-upload {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}
.aw-helpdesk-file-upload input[type=file] {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}
.aw-helpdesk-file-upload__link {
    color: #1979c3;
}
.aw-helpdesk-file-upload:hover .aw-helpdesk-file-upload__link {
    text-decoration: underline;
}