<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <iwdordermanager>
            <multi_inventory>
                <enable>1</enable>
            </multi_inventory>
        </iwdordermanager>
    </default>
</config>
