<?xml version="1.0"?>
<!--
/**
* Copyright 2016 aheadWorks. All rights reserved.
* See LICENSE.txt for license details.
*/
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Aheadworks_Helpdesk::helpdesk_home" title="Help Desk Ultimate by aheadWorks"  module="Magento_Customer" sortOrder="100" parent="Magento_Customer::customer" resource="Aheadworks_Helpdesk::home" />
        <add id="Aheadworks_Helpdesk::tickets" title="Tickets"  module="Aheadworks_Helpdesk" sortOrder="1" parent="Aheadworks_Helpdesk::helpdesk_home" action="aw_helpdesk/ticket/index" resource="Aheadworks_Helpdesk::tickets"/>
        <add id="Aheadworks_Helpdesk::automation" title="Automations"  module="Aheadworks_Helpdesk" sortOrder="2" parent="Aheadworks_Helpdesk::helpdesk_home" action="aw_helpdesk/automation/index" resource="Aheadworks_Helpdesk::automation"/>
        <add id="Aheadworks_Helpdesk::departments" title="Departments"  module="Aheadworks_Helpdesk" sortOrder="3" parent="Aheadworks_Helpdesk::helpdesk_home" action="aw_helpdesk/department/index" resource="Aheadworks_Helpdesk::departments"/>
    </menu>
</config>
