<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2017 Amasty (https://www.amasty.com)
 * @package Amasty_Xsearch
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Category">
        <plugin name="Amasty_Xsearch::Category" type="Amasty\Xsearch\Plugin\Category"/>
    </type>
    <type name="Magento\Framework\Search\Adapter\Mysql\Aggregation\DataProviderContainer">
        <arguments>
            <argument name="dataProviders" xsi:type="array">
                <item name="amasty_xsearch_category_fulltext" xsi:type="object">Amasty\Xsearch\Model\Adapter\Category\Mysql\Aggregation\DataProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Search\Adapter\Mysql\Mapper">
        <arguments>
            <argument name="indexProviders" xsi:type="array">
                <item name="amasty_xsearch_category_fulltext" xsi:type="object">Amasty\Xsearch\Model\Search\Category\IndexBuilder</item>
            </argument>
            <argument name="entityMetadata" xsi:type="object">Magento\Framework\Search\ProductEntityMetadata</argument>
        </arguments>
    </type>
</config>